/* Общие стили */
.event-description {
    display: flex;
    flex-wrap: wrap;
}

.event-description-text {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.event-description__image {
    width: 100%;
    height: auto;
}

/* Медиа-запрос для мобильных устройств */
@media screen and (max-width: 767px) {
    .event-description-text {
        order: 2;
        flex-direction: column;
    }

    .event-description__image {
        order: 1;
    }

    .event-description__text {
        width: 100%;
    }
}


